---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

// will asynchronously loads all md post files
const allPosts = await getCollection("posts");
const pageTitle = "My astro learning blog!";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
